
.btn {

  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #999999;
}

.btn:hover {
  background-color: RoyalBlue;
}

ul {
  list-style-type: none;
  font-weight: bold;
}


